:root {
    --light-color: rgb(255, 208, 234);
    --dark-color: deeppink;
}
.column {
    float: left;
    width: 50%;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
button,
#toggle-flag:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    border-color: var(--dark-color);
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
}
button:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}
.cell {
    width: 30px; 
    aspect-ratio: 1/1;
}
.cell:hover {
    background-color: var(--dark-color);
}
.cell[disabled]:hover {
    background-color: var(--light-color);
}
table {
    margin-left: auto;
    margin-right: auto;
}
td {
    text-align: center;
    font-size: large;
    width: 35px;
    height: 35px;
}
body {
    color: var(--dark-color);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: var(--light-color);
    font-size: large;
}
.dark-mode {
    --light-color: black;
}